*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(100, 72, 255);
    font-family: 'Jost', sans-serif;
}
#box{
    width: 360px;
    background: #363636;
    color: aliceblue;
    border-radius: 20px;
    padding: 1.2rem;
    margin: 130px auto;
}
h1:hover{
    color: rgb(100,72,255);
    transition: 0.5s;
}
@media(max-width: 600px){
    #box{
        top: 20%;
        width: 300px;
        background: #333333;
    }
}
#text{
    font-size: 25px;
    padding: 10px 0;
}
.txt{
    display: inline-flex;
}
input{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}
#GSTrateinput{
    cursor: pointer;
}
#Gstoutput, #Grossoutput{
    font-size: 30px;
}